.landing {
  background-color: $nonary;
  overflow-x: hidden;
  margin: 0;

  .landingContainer {
    background-color: $landing;
    background-image: url(../assets/landingbg.png);
    background-position: center center;
    background-size: cover;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    position: relative;

    .circleContainer {
      position: absolute;
      top: -100px;
      left: -100px;

      .circle {
        background-color: $quaternary;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        position: relative;
        transition: transform 0.5s linear;

        button {
          position: absolute;
          width: 25%;
          top: 50%;
          left: 45%;
          height: 100px;
          background: transparent;
          border: 0;
          color: #fff;
          cursor: pointer;

          &:focus {
            outline: none;
          }

          &#open {
            left: 55%;
          }

          &#close {
            top: 50%;
            transform: rotate(90deg);
            transform-origin: top left;
          }

          i {
            font-size: 2.6rem;
          }
          img {
            width: 100%;
          }
        }
      }
    }

    .headerContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 40px;
      margin: 5%;

      h1 {
        font-family: $mainHeader;
        font-size: 4.5rem;
        color: $nonary;
        text-shadow: #2a1306 3px 3px;
        text-align: center;
      }

      h2 {
        font-family: $headers;
        color: $quaternary;
        text-shadow: #2a1306 1px 1px;
        text-align: center;
      }

      .goDown {
        position: absolute;
        bottom: 10%;
        width: 70px;

        img {
          width: 100%;
          animation: bounce 3s ease infinite;

          @keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100% {
              transform: translateY(0);
            }

            40% {
              transform: translateY(-30px);
            }

            60% {
              transform: translateY(-15px);
            }
          }
        }
      }
    }
  }

  .showNav {
    transform: rotate(-20deg);

    .circle {
      transform: rotate(-70deg);
    }
  }

  .showNav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }

  nav {
    position: absolute;
    bottom: 0;
    left: 0;

    ul {
      list-style-type: none;
      padding-left: 30px;

      li {
        padding: 20px 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;

        a {
          img {
            width: 30px;
          }

          p {
            font-family: $baseFont;
            color: black;
            font-weight: bold;
            margin: 0;
            padding: 5px;
          }
        }
      }
    }
  }

  nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
  }

  nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
  }

  nav ul li + li + li + li {
    margin-left: 45px;
    transform: translateX(-250%);
  }

  nav ul li + li + li + li + li {
    margin-left: 60px;
    transform: translateX(-300%);
  }
}

.aboutSection {
  .aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    min-height: 100vh;

    .aboutImgContainer {
      width: calc(50% - 30px);
      display: flex;
      justify-content: center;
      margin-right: 15px;

      img {
        max-width: 300px;
        border-radius: 50px;
        border: 3px solid $quaternary;
      }
    }

    .aboutContent {
      width: calc(50% - 30px);
      margin-left: 15px;
      .aboutTitle {
        width: 250px;
        margin-top: 10px;
        img {
          width: 90%;
        }
      }

      .about {
        margin: 10px auto;
      }
    }
    .thingsIDo {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 35px;
      margin-top: 90px;
      img {
        width: 15%;
        // transform: rotate(15deg) scale(1.4);
        transition: 0.3s ease-in-out;
        &:hover {
          transform: rotate(0) scale(1.3);
        }
      }

      .runningPostIt {
        transform: rotate(-10deg) scale(1);
      }
      .playPostIt {
        transform: rotate(5deg) scale(1);
      }
      .craftPostIt {
        transform: rotate(5deg) scale(1);
      }
      .familyPostIt {
        transform: rotate(-10deg) scale(1);
      }
      .bakingPostIt {
        transform: rotate(-5deg) scale(1);
      }
    }
  }
}

.projects {
  .sliderContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .leftSlide {
      height: 100%;
      width: 40%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.5s ease-in-out;

      .firstProjectInfo,
      .secondProjectInfo,
      .thirdProjectInfo,
      .fourthProjectInfo {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          margin: 20px 40px;
          text-align: left;
          a {
            color: #fcf473;
          }
        }
        .mobileImgContainer {
          display: none;
        }
        .mobileMoreInfoBtn {
          display: none;
        }
      }

      .firstProjectInfo {
        background-color: $landing;

        h3 {
          color: $brightBlue;
          text-shadow: black 2px 2px;
        }

        h4 {
          color: $yellow;
          font-size: 1rem;
        }

        p {
          color: $nonary;
        }
      }

      .secondProjectInfo {
        background-color: $brightPurple;

        h3 {
          color: $quaternary;
          text-shadow: #2a1306 1px 1px;
        }

        h4 {
          color: $yellow;
          font-size: 1rem;
        }

        p {
          color: $nonary;
        }
      }

      .thirdProjectInfo {
        background-color: $landing;

        h3 {
          color: $brightBlue;
          text-shadow: #2a1306 1px 1px;
        }

        h4 {
          color: $yellow;
          font-size: 1rem;
        }

        p {
          color: $nonary;
        }
      }

      .fourthProjectInfo {
        background-color: $brightPurple;

        h3 {
          color: $quaternary;
          text-shadow: #2a1306 1px 1px;
        }

        h4 {
          color: $yellow;
          font-size: 1rem;
        }

        p {
          color: $nonary;
        }
      }
    }

    .rightSlide {
      height: 100%;
      position: absolute;
      top: 0;
      left: 40%;
      width: 60%;
      transition: transform 0.5s ease-in-out;

      .projectImgContainer {
        height: 100%;
        width: 100%;
        position: relative;

        //COMPARAR PROJECTIMAGES CON PAPA
        .projectImages {
          width: 70%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100vh;
          justify-content: center;
          gap: 50px;

          .imageContainer {
            img {
              width: 100%;
            }
          }
        }

        .moreInfoBtn {
          display: flex;
          width: 350px;
          justify-content: space-evenly;
          align-items: center;
          align-content: center;

          a {
            width: 40%;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .imgContainer1 {
      background-color: $denary;
    }

    .imgContainer2 {
      background-color: $nonary;
    }

    .imgContainer3 {
      background-color: $denary;
    }

    .imgContainer4 {
      background-color: $nonary;
    }
  }

  .actionButtons button {
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: 100;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 0;
    img {
      width: 35px;
      cursor: pointer;
    }
    .upArrow {
      animation: top 3s ease infinite;

      @keyframes top {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }

        40% {
          transform: translateY(-30px);
        }

        60% {
          transform: translateY(-15px);
        }
      }
    }
    .downArrow {
      animation: down 3s ease infinite;

      @keyframes down {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(-15px);
        }

        40% {
          transform: translateY(30px);
        }

        60% {
          transform: translateY(0);
        }
      }
    }
    .rightArrow {
      animation: right 3s ease infinite;

      @keyframes right {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateX(0);
        }

        40% {
          transform: translateX(-20px);
        }

        60% {
          transform: translateX(0);
        }
      }
    }
    .leftArrow {
      animation: left 3s ease infinite;

      @keyframes left {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateX(0);
        }

        40% {
          transform: translateX(20px);
        }

        60% {
          transform: translateX(0);
        }
      }
    }

    :hover {
      color: black;
    }

    :focus {
      outline: none;
    }
  }

  .actionButtons .downButton {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .actionButtons .upButton {
    transform: translatey(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .leftBtn,
  .rightBtn {
    display: none;
  }
}

.tools {
  background-image: url(../assets/brick2.png);
  background-color: white;
  position: relative;

  .toolTitleCont {
    height: 20vh;
    width: 250px;
    position: relative;
    margin: 0 auto;
    .toolTitleImg {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  .toolKit {
    display: flex;
    align-items: center;
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    flex-wrap: wrap;
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    li {
      flex-basis: calc((100% / 4));
      text-align: center;
      position: relative;

      .htmlLogo,
      .cssLogo,
      .jsLogo,
      .sassLogo,
      .reactLogo,
      .githubLogo,
      .firebaseLogo,
      .gitLogo,
      .photoshopLogo,
      .illustratorLogo {
        width: 40%;
      }
      p {
        display: none;
      }
      :hover + p,
      :focus + p {
        display: flex;
        justify-content: center;
        color: black;
        font-weight: 900;
        position: absolute;
        bottom: -60px;
        left: 50px;
        right: 50px;
        margin-top: 15px;
      }
    }
  }
}

.contact {
  background-color: $landing;

  .contactForm {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    min-height: 100vh;

    .contactContent {
      display: flex;
      flex-direction: column;
      width: 35%;
      margin-bottom: 5%;

      .contactTitle {
        width: 250px;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }

      p {
        color: $nonary;
      }

      .socialIcons ul {
        width: 230px;
        display: flex;
        justify-content: start;
        align-content: center;
        align-items: center;
        gap: 15px;
        margin-left: -10px;

        li {
          flex: 1;
          padding: 5px 10px;

          img {
            width: 100%;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 45%;
      position: relative;

      input,
      textarea {
        border: none;
        padding: 5px;
        border-radius: 7px;

        &:focus {
          outline: none;
        }
      }

      .submitButton {
        width: 120px;
        cursor: pointer;
        position: absolute;
        color: transparent;
        background-color: transparent;
        border: none;
        bottom: 13px;
        left: 14px;
      }
      .sendMessage {
        cursor: pointer;
        width: 150px;
      }
    }
  }
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: $quaternary;

  p {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 960px) {
  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h3 {
            font-size: 1.6rem;
          }
          h4 {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 863px) {
  .landing {
    .landingContainer {
      .headerContent {
        h2 {
          font-size: 2rem;
        }
        .goDown {
          width: 55px;
        }
      }
    }
  }

  .aboutSection {
    .aboutContainer {
      flex-direction: column;

      .aboutContent {
        width: 90%;
      }

      .aboutImgContainer {
        width: 65%;
        margin: 50px auto;
      }
      .thingsIDo {
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
  }
  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h4 {
            font-size: 0.8rem;
          }
        }
      }
      .rightSlide {
        .projectImgContainer {
          .moreInfoBtn {
            width: 300px;
          }
        }
      }
    }
  }

  .tools {
    .toolTitleCont {
      .toolTitleImg {
        margin-bottom: 20px;
      }
    }
    .toolKit {
      li {
        flex-basis: calc((100% / 3));
      }
    }
  }

  .contact {
    .contactForm {
      flex-direction: column;
      justify-content: space-evenly;

      .contactContent,
      form {
        width: 80%;
      }

      .contactContent {
        margin-bottom: 0;
        .contactTitle {
          margin-top: 50px;
        }
      }
    }
  }
}

@media (max-width: 789px) {
  .landing {
    .landingContainer {
      .circleContainer {
        .circle {
          height: 200px;
          width: 200px;
        }
      }
      .headerContent {
        h1 {
          font-size: 3.5rem;
        }

        h2 {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .projects {
    .sliderContainer {
      .leftSlide {
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        display: flex;
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          flex-shrink: 0;
          h4 {
            font-size: 0.9rem;
          }
          .mobileImgContainer {
            width: 350px;
            display: flex;
            margin: 30px;
            .mobileProjectImg {
              width: 100%;
            }
          }
          .mobileMoreInfoBtn {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            width: 300px;
            a {
              width: 40%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .rightSlide {
        height: 65%;
        width: 100%;
        top: unset;
        bottom: 0;
        left: 0;
        display: none;
        .projectImgContainer {
          flex-shrink: 0;
        }
      }

      .actionButtons button {
        left: unset;
        img {
          width: 50px;
        }
      }

      .leftBtn,
      .rightBtn {
        display: inline-block;
      }

      .leftBtn {
        left: 0;
      }

      .rightBtn {
        right: 0;
      }

      .upButton,
      .downButton {
        display: none;
      }
    }
  }
}

@media (max-width: 719px) {
  .landing {
    .landingContainer {
      .headerContent {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
  .aboutSection {
    .aboutContainer {
      .thingsIDo {
        gap: 30px;
        img {
          width: 25%;
        }
      }
    }
  }
}

@media (max-width: 659px) {
  .landing {
    .landingContainer {
      .headerContent {
        h1 {
          font-size: 3rem;
        }

        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }
  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          .mobileImgContainer {
            width: 300px;
          }
          .mobileMoreInfoBtn {
            width: 250px;
          }
        }
      }
    }
  }

  .tools {
    .toolKit {
      li {
        flex-basis: calc((100% / 2));
      }
    }
  }
  .contact {
    .contactForm {
      form {
        .sendMessage,
        .submitButton {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 498px) {
  .landing {
    .landingContainer {
      .headerContent {
        h1 {
          font-size: 2.5rem;
        }
      }
    }

    nav {
      ul {
        padding-left: 15px;
        li {
          a {
            img {
              width: 30px;
            }
          }
        }
      }
    }
  }
  .aboutSection {
    .aboutContainer {
      .aboutContent {
        h2 {
          margin-bottom: 0;
        }
      }
    }
  }

  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h3 {
            font-size: 1.4rem;
          }
          h3,
          h4 {
            margin-bottom: 0;
          }
          p {
            font-size: 0.75rem;
          }
          span {
            display: none;
          }
          .mobileImgContainer {
            margin-bottom: 10px;
          }
        }
      }
      .actionButtons button {
        top: 60%;
        img {
          width: 40px;
        }
      }
    }
  }

  .contact {
    h2 {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 375px) {
  .landing {
    .landingContainer {
      .headerContent {
        h2 {
          font-size: 1rem;
        }
      }
    }

    nav {
      ul {
        padding-left: 5px;
        li {
          padding: 15px 0;
        }
      }
    }
  }

  .aboutSection {
    .aboutContainer {
      .aboutContent {
        .aboutTitle {
          img {
            width: 80%;
          }
        }
      }
      .thingsIDo {
        img {
          width: 30%;
        }
      }
    }
  }
  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo {
          .mobileImgContainer {
            margin-top: 90px;
          }
        }
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h4 {
            font-size: 0.8rem;
          }
          p {
            margin: 10px 20px;
          }
          .mobileImgContainer {
            width: 230px;
          }
        }
      }
    }
    // .actionButtons {
    //   button {
    //     top: 65%;
    //   }
    // }
  }

  .tools {
    .toolTitleCont {
      .toolTitleImg {
        width: 90%;
      }
    }
  }
  .contact {
    p {
      margin-bottom: 10px;
    }
    .contactForm {
      .contactContent {
        .contactTitle {
          img {
            width: 90%;
          }
        }
      }
    }
  }
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .landing {
    .landingContainer {
      .headerContent {
        h1 {
          font-size: 2rem;
        }
      }
    }

    nav {
      ul {
        li {
          padding: 10px 0;
          a {
            img {
              width: 20px;
            }
          }
        }
      }
    }
  }

  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h3 {
            font-size: 1.2rem;
            line-height: 2rem;
            margin-top: 20px;
          }
          h4 {
            font-size: 0.75rem;
            line-height: 1.2rem;
          }
          p {
            line-height: 1.2rem;
          }
          .mobileImgContainer {
            width: 200px;
            margin-top: 20px;
          }
          .mobileMoreInfoBtn {
            width: 200px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  footer {
    padding: 8px;
    p {
      font-size: 0.75rem;
    }
  }
}
