.landing {
  background-color: $nonary;
  overflow-x: hidden;
  margin: 0;

  .landingContainer {
    background-color: $landing;
    background-image: url(../assets/landingbg.png);
    background-position: center center;
    background-size: cover;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    position: relative;

    .circleContainer {
      position: absolute; //FIXED
      top: -100px;
      left: -100px;

      .circle {
        background-color: $quaternary;
        height: 265px;
        width: 265px;
        border-radius: 50%;
        position: relative;
        transition: transform 0.5s linear;

        button {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100px;
          background: transparent;
          border: 0;
          font-size: 1.625rem;
          color: #fff;
          cursor: pointer;

          &:focus {
            outline: none;
          }

          &#open {
            left: 60%;
          }

          &#close {
            top: 60%;
            transform: rotate(90deg);
            transform-origin: top left;
          }

          i {
            font-size: 2.6rem;
          }
        }
      }
    }

    .headerContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 40px;
      margin: 5%;

      h1 {
        font-family: $mainHeader;
        font-size: 4.5rem;
        color: $nonary;
        text-shadow: #2a1306 3px 3px;
        text-align: center;
      }

      h2 {
        font-family: $headers;
        color: $quaternary;
        text-shadow: #2a1306 1px 1px;
        text-align: center;
      }

      .goDown {
        position: absolute;
        bottom: 10%;

        .fa-solid {
          color: $quaternary;
          // position: absolute;
          font-size: 50px;
          animation: bounce 3s ease infinite;

          @keyframes bounce {
            0%,
            20%,
            50%,
            80%,
            100% {
              transform: translateY(0);
            }

            40% {
              transform: translateY(-30px);
            }

            60% {
              transform: translateY(-15px);
            }
          }
        }
      }
    }
  }

  .showNav {
    transform: rotate(-20deg);

    .circle {
      transform: rotate(-70deg);
    }
  }

  .showNav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }

  nav {
    position: absolute;
    bottom: 0;
    left: 0;

    ul {
      list-style-type: none;
      padding-left: 30px;

      li {
        padding: 20px 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;

        a {
          img {
            width: 30px;
          }

          p {
            font-family: $baseFont;
            color: black;
            font-weight: bold;
            margin: 0;
            padding: 5px;
          }
        }
      }
    }
  }

  nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
  }

  nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
  }

  nav ul li + li + li + li {
    margin-left: 45px;
    transform: translateX(-250%);
  }

  nav ul li + li + li + li + li {
    margin-left: 60px;
    transform: translateX(-300%);
  }
}

.aboutSection {
  .aboutContainer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    min-height: 100vh;

    .aboutImgContainer {
      // width: 40%;
      max-width: 300px;
      margin: 0 auto;
      position: relative;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      //   0 6px 20px 0 rgba(0, 0, 0, 0.19);
      // border-radius: 50%;
      // background-color: $quaternary;

      // &::before {
      //   content: "";
      //   height: 200px;
      //   width: 200px;
      //   display: block;
      //   background-color: $yellow;
      //   border-radius: 40px;
      //   position: absolute;
      //   right: -30px;
      //   top: -30px;
      //   z-index: -1;
      // }

      img {
        width: 100%;
      }
    }

    .aboutContent {
      width: 50%;

      h2 {
        color: $brightBlue;
        text-shadow: #2a1306 1px 1px;
      }

      .about {
        margin: 10px auto;
      }
    }
  }
}

.projects {
  .sliderContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .leftSlide {
      height: 100%;
      width: 40%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.5s ease-in-out;

      .firstProjectInfo,
      .secondProjectInfo,
      .thirdProjectInfo,
      .fourthProjectInfo {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          margin: 20px 40px;
          text-align: left;
          a {
            color: #fcf473;
          }
        }
      }

      .firstProjectInfo {
        background-color: $landing;

        h2 {
          color: $brightBlue;
          text-shadow: black 2px 2px;
        }

        h4 {
          color: $yellow;
          font-size: 1.1rem;
        }

        p {
          color: $nonary;
        }
      }

      .secondProjectInfo {
        background-color: $brightPurple;

        h2 {
          color: $quaternary;
          text-shadow: #2a1306 1px 1px;
        }

        h4 {
          color: $yellow;
          font-size: 1.1rem;
        }

        p {
          color: $nonary;
        }
      }

      .thirdProjectInfo {
        background-color: $landing;

        h2 {
          color: $brightBlue;
          text-shadow: #2a1306 1px 1px;
        }

        h4 {
          color: $yellow;
          font-size: 1.1rem;
        }

        p {
          color: $nonary;
        }
      }

      .fourthProjectInfo {
        background-color: $brightPurple;

        h2 {
          color: $quaternary;
          text-shadow: #2a1306 1px 1px;
        }

        h4 {
          color: $yellow;
          font-size: 1.1rem;
        }

        p {
          color: $nonary;
        }
      }
    }

    .rightSlide {
      height: 100%;
      position: absolute;
      top: 0;
      left: 40%;
      width: 60%;
      transition: transform 0.5s ease-in-out;

      .projectImgContainer {
        height: 100%;
        width: 100%;
        position: relative;

        .projectImages {
          width: 70%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100vh;
          justify-content: center;
          gap: 50px;

          .imageContainer {
            img {
              width: 100%;
            }
          }
        }

        .moreInfoBtn {
          display: flex;
          width: 350px;
          // bottom: 50px;
          // left: 0;
          // right: 0;
          // margin-left: auto;
          // margin-right: auto;
          margin: 0 auto;
          gap: 35px;

          a {
            width: 40%;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .imgContainer1 {
      background-color: $denary;
    }

    .imgContainer2 {
      background-color: $nonary;
    }

    .imgContainer3 {
      background-color: $denary;
    }

    .imgContainer4 {
      background-color: $nonary;
    }
  }

  .actionButtons button {
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: 100;
    background-color: white;
    border: none;
    color: gray;
    font-size: 0.85rem;
    padding: 15px;

    :hover {
      color: black;
    }

    :focus {
      outline: none;
    }
  }

  .actionButtons .downButton {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .actionButtons .upButton {
    transform: translatey(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.tools {
  background-image: url(../assets/brick2.png);
  background-color: white;
  position: relative;

  .toolTitleCont {
    height: 20vh;
    width: 30%;
    position: relative;
    margin: 0 auto;
    .toolTitleImg {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  .toolKit {
    display: flex;
    align-items: center;
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    flex-wrap: wrap;
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    li {
      flex-basis: calc((100% / 4));
      text-align: center;
      position: relative;

      .htmlLogo,
      .cssLogo,
      .jsLogo,
      .sassLogo,
      .reactLogo,
      .githubLogo,
      .firebaseLogo,
      .gitLogo {
        width: 40%;
      }
      p {
        display: none;
      }
      :hover + p,
      :focus + p {
        display: block;
        color: black;
        font-weight: 900;
        position: absolute;
        bottom: -60px;
        left: 50px;
        right: 50px;
        // padding: 20px 0;
      }
    }
  }
}

.contact {
  background-color: $landing;

  .contactForm {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    min-height: 100vh;

    .contactContent {
      display: flex;
      flex-direction: column;
      width: 35%;
      margin-bottom: 10%;

      h2 {
        color: $quaternary;
      }

      p {
        color: $nonary;
      }

      .socialIcons ul {
        width: 200px;
        display: flex;
        justify-content: start;
        align-content: center;
        align-items: center;
        gap: 15px;

        li {
          flex: 1;
          padding: 5px 10px;

          img {
            width: 100%;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 45%;
      position: relative;

      input,
      textarea {
        border: none;
        padding: 5px;
        border-radius: 7px;

        &:focus {
          outline: none;
        }
      }

      .submitButton {
        width: 120px;
        margin-top: 40px;
        cursor: pointer;
        position: absolute;
        color: transparent;
        background-color: transparent;
        border: none;
        bottom: 13px;
        left: 14px;
      }
      .sendMessage {
        cursor: pointer;
        width: 150px;
      }
    }
  }
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: $quaternary;

  p {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .landing {
    .landingContainer {
      .headerContent {
        min-height: 80vh;
      }
    }

    nav {
      bottom: 30px;

      ul {
        li {
          a {
            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h4 {
            font-size: 1rem;
          }
        }
      }
    }
  }
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 863px) {
  .landing {
    .landingContainer {
      .headerContent {
        h2 {
          font-size: 2rem;
        }
      }
    }
  }

  .aboutSection {
    .aboutContainer {
      flex-direction: column;

      .aboutContent {
        width: 90%;
      }

      .aboutImgContainer {
        width: 65%;
      }
    }
  }

  .tools {
    .toolTitleCont {
      width: 45%;
      .toolTitleImg {
        margin-bottom: 20px;
      }
    }
    .toolKit {
      li {
        flex-basis: calc((100% / 3));
      }
    }
  }

  .contact {
    .contactForm {
      flex-direction: column;

      .contactContent,
      form {
        width: 80%;
      }

      .contactContent {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 789px) {
  .landing {
    .landingContainer {
      .headerContent {
        h1 {
          font-size: 3.5rem;
        }

        h2 {
          font-size: 1.8rem;
        }
      }
    }
  }
  .projects {
    .sliderContainer {
      overflow: scroll;
      .leftSlide {
        width: 100%;
        top: 0vh;
        position: revert;
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          justify-content: start;
          h2 {
            margin-bottom: 8px;
            margin-top: 30px;
          }
          h4 {
            margin-bottom: 0px;
          }
        }
        // .secondProjectInfo {
        //   order: 3;
        // }
      }
      .rightSlide {
        width: 100%;
        left: 0%;
        display: flex;
        flex-direction: column;

        .projectImgContainer {
          width: 70%;
          margin: 0 auto;
          .projectImages {
            justify-content: end;
            height: 100vh;
            gap: 40px;
          }
          .moreInfoBtn {
            width: 250px;
            margin-bottom: 30px;
          }
        }
      }
      .imgContainer1,
      .imgContainer2,
      .imgContainer3,
      .imgContainer4 {
        background-color: transparent;
      }
      .imgContainer2,
      .imgContainer4 {
        order: 1;
      }
      // .imgContainer3 {
      //   order: 3;
      // }
      .actionButtons {
        display: none;
      }
    }
  }
}

// @media (max-width: 750px) {
//   .projects {
//     .sliderContainer {
//       display: flex;
//       flex-direction: column;

//       .leftSlide {
//         width: 100%;

//         .firstProjectInfo,
//         .secondProjectInfo,
//         .thirdProjectInfo,
//         .fourthProjectInfo {
//           justify-content: start;

//           h4 {
//             margin-bottom: 0;
//           }
//         }
//       }

//       .rightSlide {
//         width: 100%;
//         left: 0;

//         .projectImgContainer {
//           .projectImages {
//             justify-content: end;
//             height: 100vh;
//             gap: 20px;
//           }

//           .moreInfoBtn {
//             width: 230px;
//           }
//         }
//       }

//       .imgContainer1,
//       .imgContainer2,
//       .imgContainer3,
//       .imgContainer4 {
//         background-color: transparent;
//       }
//     }

//     .actionButtons {
//       button {
//         left: 90%;
//       }

//       .downButton {
//         transform: none;
//       }

//       .upButton {
//         border-top-left-radius: 5px;
//         border-bottom-left-radius: 5px;
//       }
//     }
//   }
// }

// @media (max-width: 350px) {
//   .projects {
//     .sliderContainer {
//       .leftSlide {
//         .firstProjectInfo,
//         .secondProjectInfo,
//         .thirdProjectInfo,
//         .fourthProjectInfo {
//           justify-content: start;

//           h2 {
//             font-size: 1.5rem;
//             margin-bottom: 0;
//           }

//           h4 {
//             margin-bottom: 0;
//           }

//           p {
//             margin: 0 35px;
//           }
//         }
//       }

//       .rightSlide {
//         .projectImgContainer {
//           .projectImages {
//             gap: 0;
//           }

//           .moreInfoBtn {
//             width: 180px;
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 719px) {
  .landing {
    .landingContainer {
      .headerContent {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 659px) {
  .landing {
    .landingContainer {
      .circleContainer {
        .circle {
          height: 200px;
          width: 200px;

          button {
            i {
              font-size: 2rem;
            }
          }
        }
      }

      .headerContent {
        h1 {
          font-size: 3rem;
        }

        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }

  .tools {
    .toolKit {
      li {
        flex-basis: calc((100% / 2));
      }
    }
  }
}

@media (max-width: 498px) {
  .landing {
    .landingContainer {
      .headerContent {
        h1 {
          font-size: 2.5rem;
        }
      }
    }

    nav {
      ul {
        padding-left: 15px;
        li {
          a {
            img {
              width: 30px;
            }
          }
        }
      }
    }
  }
  .aboutSection {
    .aboutContainer {
      .aboutContent {
        h2 {
          font-size: 1.5rem;
          margin-bottom: 0;
        }
      }
    }
  }

  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h2 {
            font-size: 1.5rem;
            margin-bottom: 0px;
          }
          h4 {
            margin-bottom: 0px;
            font-size: 0.9rem;
          }
          p {
            margin: 10px 40px;
          }
        }
      }
      .rightSlide {
        .projectImgContainer {
          .projectImages {
            gap: 5px;
          }
          .moreInfoBtn {
            width: 200px;
            gap: 15px;
          }
        }
      }
    }
  }
  .contact {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    .contactForm {
      form {
        .submitButton {
          width: 100px;
        }
        .sendMessage {
          width: 130px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .landing {
    .landingContainer {
      .headerContent {
        h2 {
          font-size: 1rem;
        }
      }
    }

    nav {
      ul {
        padding-left: 5px;
        li {
          padding: 15px 0;
        }
      }
    }
  }

  .aboutSection {
    .aboutContainer {
      .aboutContent {
        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }
  .projects {
    .sliderContainer {
      .leftSlide {
        .firstProjectInfo,
        .secondProjectInfo,
        .thirdProjectInfo,
        .fourthProjectInfo {
          h2 {
            font-size: 1.2rem;
            margin-top: 15px;
          }
          h4 {
            font-size: 0.8rem;
          }
        }
      }
      .rightSlide {
        .projectImgContainer {
          .moreInfoBtn {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .contact {
    h2 {
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 10px;
    }
    .contactForm {
      .contactContent {
        .socialIcons {
          ul {
            width: 180px;
            gap: 10px;
          }
        }
      }
      form {
        .submitButton {
          width: 80px;
        }
        .sendMessage {
          width: 100px;
        }
      }
    }
  }
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .landing {
    .landingContainer {
      .headerContent {
        h1 {
          font-size: 2rem;
        }
      }
    }

    nav {
      ul {
        li {
          padding: 10px 0;
          a {
            img {
              width: 20px;
            }
          }
        }
      }
    }
  }
  .projects {
    .sliderContainer {
      .rightSlide {
        .projectImgContainer {
          .projectImages {
            .imageContainer {
              display: none;
            }
          }
          .moreInfoBtn {
            width: 170px;
            // gap: 15px;
          }
        }
      }
    }
  }
  footer {
    padding: 8px;
  }
}
