//site fonts

$mainHeader: 'Fira Sans Condensed',
sans-serif;
$headers: 'NTR',
sans-serif;
$baseFont: 'ABeeZee',
sans-serif;


//site colours 

$primary: #D8E2DC;
$secondary: #FFE5D9;
$tertiary: #FFCAD4;
$quaternary: #F4ACB7;
$quinary: #9D8189;
$senary: #8E9AAF;
$septenary: #CBC0D3;
$octonary: #EFD3D7;
$nonary: #FEEAFA;
$denary: #DEE2FF;