@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 125%;
}

body {
  font-family: "ABeeZee", sans-serif;
  font-size: 1rem;
  color: black;
}

h2,
h3,
h4,
blockquote {
  font-family: "NTR", sans-serif;
  font-weight: normal;
  color: black;
  margin: 0;
}

h2 {
  font-size: 2.3rem;
  line-height: 2.4rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

h4 {
  line-height: 2rem;
  margin-bottom: 10px;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
section .wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

p {
  font-size: 0.9rem;
}

.landing {
  background-color: #FEEAFA;
  overflow-x: hidden;
  margin: 0;
}
.landing .landingContainer {
  background-color: #6d6875;
  background-image: url(../assets/landingbg.png);
  background-position: center center;
  background-size: cover;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  position: relative;
}
.landing .landingContainer .circleContainer {
  position: absolute;
  top: -100px;
  left: -100px;
}
.landing .landingContainer .circleContainer .circle {
  background-color: #F4ACB7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.landing .landingContainer .circleContainer .circle button {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 45%;
  height: 100px;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.landing .landingContainer .circleContainer .circle button:focus {
  outline: none;
}
.landing .landingContainer .circleContainer .circle button#open {
  left: 55%;
}
.landing .landingContainer .circleContainer .circle button#close {
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.landing .landingContainer .circleContainer .circle button i {
  font-size: 2.6rem;
}
.landing .landingContainer .circleContainer .circle button img {
  width: 100%;
}
.landing .landingContainer .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  margin: 5%;
}
.landing .landingContainer .headerContent h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 4.5rem;
  color: #FEEAFA;
  text-shadow: #2a1306 3px 3px;
  text-align: center;
}
.landing .landingContainer .headerContent h2 {
  font-family: "NTR", sans-serif;
  color: #F4ACB7;
  text-shadow: #2a1306 1px 1px;
  text-align: center;
}
.landing .landingContainer .headerContent .goDown {
  position: absolute;
  bottom: 10%;
  width: 70px;
}
.landing .landingContainer .headerContent .goDown img {
  width: 100%;
  -webkit-animation: bounce 3s ease infinite;
          animation: bounce 3s ease infinite;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.landing .showNav {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.landing .showNav .circle {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}
.landing .showNav + nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.landing nav {
  position: absolute;
  bottom: 0;
  left: 0;
}
.landing nav ul {
  list-style-type: none;
  padding-left: 30px;
}
.landing nav ul li {
  padding: 20px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}
.landing nav ul li a img {
  width: 30px;
}
.landing nav ul li a p {
  font-family: "ABeeZee", sans-serif;
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}
.landing nav ul li + li {
  margin-left: 15px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}
.landing nav ul li + li + li {
  margin-left: 30px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
.landing nav ul li + li + li + li {
  margin-left: 45px;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}
.landing nav ul li + li + li + li + li {
  margin-left: 60px;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}

.aboutSection .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.aboutSection .aboutContainer .aboutImgContainer {
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}
.aboutSection .aboutContainer .aboutImgContainer img {
  max-width: 300px;
  border-radius: 50px;
  border: 3px solid #F4ACB7;
}
.aboutSection .aboutContainer .aboutContent {
  width: calc(50% - 30px);
  margin-left: 15px;
}
.aboutSection .aboutContainer .aboutContent .aboutTitle {
  width: 250px;
  margin-top: 10px;
}
.aboutSection .aboutContainer .aboutContent .aboutTitle img {
  width: 90%;
}
.aboutSection .aboutContainer .aboutContent .about {
  margin: 10px auto;
}
.aboutSection .aboutContainer .thingsIDo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
  margin-top: 90px;
}
.aboutSection .aboutContainer .thingsIDo img {
  width: 15%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.aboutSection .aboutContainer .thingsIDo img:hover {
  -webkit-transform: rotate(0) scale(1.3);
          transform: rotate(0) scale(1.3);
}
.aboutSection .aboutContainer .thingsIDo .runningPostIt {
  -webkit-transform: rotate(-10deg) scale(1);
          transform: rotate(-10deg) scale(1);
}
.aboutSection .aboutContainer .thingsIDo .playPostIt {
  -webkit-transform: rotate(5deg) scale(1);
          transform: rotate(5deg) scale(1);
}
.aboutSection .aboutContainer .thingsIDo .craftPostIt {
  -webkit-transform: rotate(5deg) scale(1);
          transform: rotate(5deg) scale(1);
}
.aboutSection .aboutContainer .thingsIDo .familyPostIt {
  -webkit-transform: rotate(-10deg) scale(1);
          transform: rotate(-10deg) scale(1);
}
.aboutSection .aboutContainer .thingsIDo .bakingPostIt {
  -webkit-transform: rotate(-5deg) scale(1);
          transform: rotate(-5deg) scale(1);
}

.projects .sliderContainer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.projects .sliderContainer .leftSlide {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.projects .sliderContainer .leftSlide .firstProjectInfo,
.projects .sliderContainer .leftSlide .secondProjectInfo,
.projects .sliderContainer .leftSlide .thirdProjectInfo,
.projects .sliderContainer .leftSlide .fourthProjectInfo {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .sliderContainer .leftSlide .firstProjectInfo p,
.projects .sliderContainer .leftSlide .secondProjectInfo p,
.projects .sliderContainer .leftSlide .thirdProjectInfo p,
.projects .sliderContainer .leftSlide .fourthProjectInfo p {
  margin: 20px 40px;
  text-align: left;
}
.projects .sliderContainer .leftSlide .firstProjectInfo p a,
.projects .sliderContainer .leftSlide .secondProjectInfo p a,
.projects .sliderContainer .leftSlide .thirdProjectInfo p a,
.projects .sliderContainer .leftSlide .fourthProjectInfo p a {
  color: #fcf473;
}
.projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileImgContainer {
  display: none;
}
.projects .sliderContainer .leftSlide .firstProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileMoreInfoBtn {
  display: none;
}
.projects .sliderContainer .leftSlide .firstProjectInfo {
  background-color: #6d6875;
}
.projects .sliderContainer .leftSlide .firstProjectInfo h3 {
  color: #3a86ff;
  text-shadow: black 2px 2px;
}
.projects .sliderContainer .leftSlide .firstProjectInfo h4 {
  color: #fcf473;
  font-size: 1rem;
}
.projects .sliderContainer .leftSlide .firstProjectInfo p {
  color: #FEEAFA;
}
.projects .sliderContainer .leftSlide .secondProjectInfo {
  background-color: #5E548E;
}
.projects .sliderContainer .leftSlide .secondProjectInfo h3 {
  color: #F4ACB7;
  text-shadow: #2a1306 1px 1px;
}
.projects .sliderContainer .leftSlide .secondProjectInfo h4 {
  color: #fcf473;
  font-size: 1rem;
}
.projects .sliderContainer .leftSlide .secondProjectInfo p {
  color: #FEEAFA;
}
.projects .sliderContainer .leftSlide .thirdProjectInfo {
  background-color: #6d6875;
}
.projects .sliderContainer .leftSlide .thirdProjectInfo h3 {
  color: #3a86ff;
  text-shadow: #2a1306 1px 1px;
}
.projects .sliderContainer .leftSlide .thirdProjectInfo h4 {
  color: #fcf473;
  font-size: 1rem;
}
.projects .sliderContainer .leftSlide .thirdProjectInfo p {
  color: #FEEAFA;
}
.projects .sliderContainer .leftSlide .fourthProjectInfo {
  background-color: #5E548E;
}
.projects .sliderContainer .leftSlide .fourthProjectInfo h3 {
  color: #F4ACB7;
  text-shadow: #2a1306 1px 1px;
}
.projects .sliderContainer .leftSlide .fourthProjectInfo h4 {
  color: #fcf473;
  font-size: 1rem;
}
.projects .sliderContainer .leftSlide .fourthProjectInfo p {
  color: #FEEAFA;
}
.projects .sliderContainer .rightSlide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.projects .sliderContainer .rightSlide .projectImgContainer {
  height: 100%;
  width: 100%;
  position: relative;
}
.projects .sliderContainer .rightSlide .projectImgContainer .projectImages {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.projects .sliderContainer .rightSlide .projectImgContainer .projectImages .imageContainer img {
  width: 100%;
}
.projects .sliderContainer .rightSlide .projectImgContainer .moreInfoBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.projects .sliderContainer .rightSlide .projectImgContainer .moreInfoBtn a {
  width: 40%;
}
.projects .sliderContainer .rightSlide .projectImgContainer .moreInfoBtn a img {
  width: 100%;
}
.projects .sliderContainer .imgContainer1 {
  background-color: #DEE2FF;
}
.projects .sliderContainer .imgContainer2 {
  background-color: #FEEAFA;
}
.projects .sliderContainer .imgContainer3 {
  background-color: #DEE2FF;
}
.projects .sliderContainer .imgContainer4 {
  background-color: #FEEAFA;
}
.projects .actionButtons button {
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 100;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
}
.projects .actionButtons button img {
  width: 35px;
  cursor: pointer;
}
.projects .actionButtons button .upArrow {
  -webkit-animation: top 3s ease infinite;
          animation: top 3s ease infinite;
}
@-webkit-keyframes top {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes top {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.projects .actionButtons button .downArrow {
  -webkit-animation: down 3s ease infinite;
          animation: down 3s ease infinite;
}
@-webkit-keyframes down {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  40% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes down {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  40% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.projects .actionButtons button .rightArrow {
  -webkit-animation: right 3s ease infinite;
          animation: right 3s ease infinite;
}
@-webkit-keyframes right {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  60% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes right {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  60% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.projects .actionButtons button .leftArrow {
  -webkit-animation: left 3s ease infinite;
          animation: left 3s ease infinite;
}
@-webkit-keyframes left {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  60% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes left {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  60% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.projects .actionButtons button :hover {
  color: black;
}
.projects .actionButtons button :focus {
  outline: none;
}
.projects .actionButtons .downButton {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.projects .actionButtons .upButton {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.projects .leftBtn,
.projects .rightBtn {
  display: none;
}

.tools {
  background-image: url(../assets/brick2.png);
  background-color: white;
  position: relative;
}
.tools .toolTitleCont {
  height: 20vh;
  width: 250px;
  position: relative;
  margin: 0 auto;
}
.tools .toolTitleCont .toolTitleImg {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.tools .toolKit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 70vh;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 90px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.tools .toolKit li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  position: relative;
}
.tools .toolKit li .htmlLogo,
.tools .toolKit li .cssLogo,
.tools .toolKit li .jsLogo,
.tools .toolKit li .sassLogo,
.tools .toolKit li .reactLogo,
.tools .toolKit li .githubLogo,
.tools .toolKit li .firebaseLogo,
.tools .toolKit li .gitLogo,
.tools .toolKit li .photoshopLogo,
.tools .toolKit li .illustratorLogo {
  width: 40%;
}
.tools .toolKit li p {
  display: none;
}
.tools .toolKit li :hover + p,
.tools .toolKit li :focus + p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-weight: 900;
  position: absolute;
  bottom: -60px;
  left: 50px;
  right: 50px;
  margin-top: 15px;
}

.contact {
  background-color: #6d6875;
}
.contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.contact .contactForm .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  margin-bottom: 5%;
}
.contact .contactForm .contactContent .contactTitle {
  width: 250px;
  margin-bottom: 20px;
}
.contact .contactForm .contactContent .contactTitle img {
  width: 100%;
}
.contact .contactForm .contactContent p {
  color: #FEEAFA;
}
.contact .contactForm .contactContent .socialIcons ul {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-left: -10px;
}
.contact .contactForm .contactContent .socialIcons ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 10px;
}
.contact .contactForm .contactContent .socialIcons ul li img {
  width: 100%;
}
.contact .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 45%;
  position: relative;
}
.contact .contactForm form input,
.contact .contactForm form textarea {
  border: none;
  padding: 5px;
  border-radius: 7px;
}
.contact .contactForm form input:focus,
.contact .contactForm form textarea:focus {
  outline: none;
}
.contact .contactForm form .submitButton {
  width: 120px;
  cursor: pointer;
  position: absolute;
  color: transparent;
  background-color: transparent;
  border: none;
  bottom: 13px;
  left: 14px;
}
.contact .contactForm form .sendMessage {
  cursor: pointer;
  width: 150px;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #F4ACB7;
}
footer p {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  .projects .sliderContainer .leftSlide .firstProjectInfo h3,
.projects .sliderContainer .leftSlide .secondProjectInfo h3,
.projects .sliderContainer .leftSlide .thirdProjectInfo h3,
.projects .sliderContainer .leftSlide .fourthProjectInfo h3 {
    font-size: 1.6rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h4,
.projects .sliderContainer .leftSlide .secondProjectInfo h4,
.projects .sliderContainer .leftSlide .thirdProjectInfo h4,
.projects .sliderContainer .leftSlide .fourthProjectInfo h4 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.8rem;
  }
}
@media (max-width: 863px) {
  .landing .landingContainer .headerContent h2 {
    font-size: 2rem;
  }
  .landing .landingContainer .headerContent .goDown {
    width: 55px;
  }
  .aboutSection .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSection .aboutContainer .aboutContent {
    width: 90%;
  }
  .aboutSection .aboutContainer .aboutImgContainer {
    width: 65%;
    margin: 50px auto;
  }
  .aboutSection .aboutContainer .thingsIDo {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h4,
.projects .sliderContainer .leftSlide .secondProjectInfo h4,
.projects .sliderContainer .leftSlide .thirdProjectInfo h4,
.projects .sliderContainer .leftSlide .fourthProjectInfo h4 {
    font-size: 0.8rem;
  }
  .projects .sliderContainer .rightSlide .projectImgContainer .moreInfoBtn {
    width: 300px;
  }
  .tools .toolTitleCont .toolTitleImg {
    margin-bottom: 20px;
  }
  .tools .toolKit li {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
  }
  .contact .contactForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact .contactForm .contactContent,
.contact .contactForm form {
    width: 80%;
  }
  .contact .contactForm .contactContent {
    margin-bottom: 0;
  }
  .contact .contactForm .contactContent .contactTitle {
    margin-top: 50px;
  }
}
@media (max-width: 789px) {
  .landing .landingContainer .circleContainer .circle {
    height: 200px;
    width: 200px;
  }
  .landing .landingContainer .headerContent h1 {
    font-size: 3.5rem;
  }
  .landing .landingContainer .headerContent h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .projects .sliderContainer .leftSlide {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo,
.projects .sliderContainer .leftSlide .secondProjectInfo,
.projects .sliderContainer .leftSlide .thirdProjectInfo,
.projects .sliderContainer .leftSlide .fourthProjectInfo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h4,
.projects .sliderContainer .leftSlide .secondProjectInfo h4,
.projects .sliderContainer .leftSlide .thirdProjectInfo h4,
.projects .sliderContainer .leftSlide .fourthProjectInfo h4 {
    font-size: 0.9rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileImgContainer {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer .mobileProjectImg,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileImgContainer .mobileProjectImg,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileImgContainer .mobileProjectImg,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileImgContainer .mobileProjectImg {
    width: 100%;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileMoreInfoBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 300px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileMoreInfoBtn a,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileMoreInfoBtn a,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileMoreInfoBtn a,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileMoreInfoBtn a {
    width: 40%;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileMoreInfoBtn a img,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileMoreInfoBtn a img,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileMoreInfoBtn a img,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileMoreInfoBtn a img {
    width: 100%;
  }
  .projects .sliderContainer .rightSlide {
    height: 65%;
    width: 100%;
    top: unset;
    bottom: 0;
    left: 0;
    display: none;
  }
  .projects .sliderContainer .rightSlide .projectImgContainer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .projects .sliderContainer .actionButtons button {
    left: unset;
  }
  .projects .sliderContainer .actionButtons button img {
    width: 50px;
  }
  .projects .sliderContainer .leftBtn,
.projects .sliderContainer .rightBtn {
    display: inline-block;
  }
  .projects .sliderContainer .leftBtn {
    left: 0;
  }
  .projects .sliderContainer .rightBtn {
    right: 0;
  }
  .projects .sliderContainer .upButton,
.projects .sliderContainer .downButton {
    display: none;
  }
}
@media (max-width: 719px) {
  .landing .landingContainer .headerContent h2 {
    font-size: 1.5rem;
  }
  .aboutSection .aboutContainer .thingsIDo {
    gap: 30px;
  }
  .aboutSection .aboutContainer .thingsIDo img {
    width: 25%;
  }
}
@media (max-width: 659px) {
  .landing .landingContainer .headerContent h1 {
    font-size: 3rem;
  }
  .landing .landingContainer .headerContent h2 {
    font-size: 1.2rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileImgContainer {
    width: 300px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileMoreInfoBtn {
    width: 250px;
  }
  .tools .toolKit li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .contact .contactForm form .sendMessage,
.contact .contactForm form .submitButton {
    margin-bottom: 20px;
  }
}
@media (max-width: 498px) {
  .landing .landingContainer .headerContent h1 {
    font-size: 2.5rem;
  }
  .landing nav ul {
    padding-left: 15px;
  }
  .landing nav ul li a img {
    width: 30px;
  }
  .aboutSection .aboutContainer .aboutContent h2 {
    margin-bottom: 0;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h3,
.projects .sliderContainer .leftSlide .secondProjectInfo h3,
.projects .sliderContainer .leftSlide .thirdProjectInfo h3,
.projects .sliderContainer .leftSlide .fourthProjectInfo h3 {
    font-size: 1.4rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h3,
.projects .sliderContainer .leftSlide .firstProjectInfo h4,
.projects .sliderContainer .leftSlide .secondProjectInfo h3,
.projects .sliderContainer .leftSlide .secondProjectInfo h4,
.projects .sliderContainer .leftSlide .thirdProjectInfo h3,
.projects .sliderContainer .leftSlide .thirdProjectInfo h4,
.projects .sliderContainer .leftSlide .fourthProjectInfo h3,
.projects .sliderContainer .leftSlide .fourthProjectInfo h4 {
    margin-bottom: 0;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo p,
.projects .sliderContainer .leftSlide .secondProjectInfo p,
.projects .sliderContainer .leftSlide .thirdProjectInfo p,
.projects .sliderContainer .leftSlide .fourthProjectInfo p {
    font-size: 0.75rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo span,
.projects .sliderContainer .leftSlide .secondProjectInfo span,
.projects .sliderContainer .leftSlide .thirdProjectInfo span,
.projects .sliderContainer .leftSlide .fourthProjectInfo span {
    display: none;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileImgContainer {
    margin-bottom: 10px;
  }
  .projects .sliderContainer .actionButtons button {
    top: 60%;
  }
  .projects .sliderContainer .actionButtons button img {
    width: 40px;
  }
  .contact h2 {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .landing .landingContainer .headerContent h2 {
    font-size: 1rem;
  }
  .landing nav ul {
    padding-left: 5px;
  }
  .landing nav ul li {
    padding: 15px 0;
  }
  .aboutSection .aboutContainer .aboutContent .aboutTitle img {
    width: 80%;
  }
  .aboutSection .aboutContainer .thingsIDo img {
    width: 30%;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer {
    margin-top: 90px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h4,
.projects .sliderContainer .leftSlide .secondProjectInfo h4,
.projects .sliderContainer .leftSlide .thirdProjectInfo h4,
.projects .sliderContainer .leftSlide .fourthProjectInfo h4 {
    font-size: 0.8rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo p,
.projects .sliderContainer .leftSlide .secondProjectInfo p,
.projects .sliderContainer .leftSlide .thirdProjectInfo p,
.projects .sliderContainer .leftSlide .fourthProjectInfo p {
    margin: 10px 20px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileImgContainer {
    width: 230px;
  }
  .tools .toolTitleCont .toolTitleImg {
    width: 90%;
  }
  .contact p {
    margin-bottom: 10px;
  }
  .contact .contactForm .contactContent .contactTitle img {
    width: 90%;
  }
  p {
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  .landing .landingContainer .headerContent h1 {
    font-size: 2rem;
  }
  .landing nav ul li {
    padding: 10px 0;
  }
  .landing nav ul li a img {
    width: 20px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h3,
.projects .sliderContainer .leftSlide .secondProjectInfo h3,
.projects .sliderContainer .leftSlide .thirdProjectInfo h3,
.projects .sliderContainer .leftSlide .fourthProjectInfo h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 20px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo h4,
.projects .sliderContainer .leftSlide .secondProjectInfo h4,
.projects .sliderContainer .leftSlide .thirdProjectInfo h4,
.projects .sliderContainer .leftSlide .fourthProjectInfo h4 {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo p,
.projects .sliderContainer .leftSlide .secondProjectInfo p,
.projects .sliderContainer .leftSlide .thirdProjectInfo p,
.projects .sliderContainer .leftSlide .fourthProjectInfo p {
    line-height: 1.2rem;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileImgContainer,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileImgContainer {
    width: 200px;
    margin-top: 20px;
  }
  .projects .sliderContainer .leftSlide .firstProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .secondProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .thirdProjectInfo .mobileMoreInfoBtn,
.projects .sliderContainer .leftSlide .fourthProjectInfo .mobileMoreInfoBtn {
    width: 200px;
    margin-bottom: 20px;
  }
  footer {
    padding: 8px;
  }
  footer p {
    font-size: 0.75rem;
  }
}